In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import re
import datetime

from dateutil.parser import parse

In [65]:
path = os.path.join('..', '..', 'data', 'processed', '3_tbs_all_filled.csv')
df = pd.read_csv(path, index_col = 0)

In [66]:
df.isnull().values.any()

False

In [67]:
df['trip_start_time'] = pd.to_datetime(df['trip_start_time'], format='%Y-%m-%d %H:%M:%S')
df['trip_stop_time'] = pd.to_datetime(df['trip_stop_time'], format='%Y-%m-%d %H:%M:%S')

In [68]:
df.dtypes

trip_id                           int64
trip_start_time          datetime64[ns]
trip_stop_time           datetime64[ns]
trip_duration_seconds           float64
from_station_name                object
to_station_name                  object
user_type                        object
day                               int64
week                              int64
month                             int64
quarter                           int64
dtype: object

In [69]:
pd.set_option('display.max_rows', 1000)
df_rand = df.sample( n = 100000, random_state = 1 ).copy()
df_rand = df_rand.sort_index(ascending=True)

In [70]:
#df_rand.head(1000)

# All values make sense

In [71]:
df_rand['trip_id'].nunique()

100000

In [72]:
df_rand.tail()

,trip_id,trip_start_time,trip_stop_time,trip_duration_seconds,from_station_name,to_station_name,user_type,day,week,month,quarter
1492289,2383567,2017-12-31 17:41:34,2017-12-31 17:46:20,286.0,College Park South,Queen St W / James St,Member,6,52,12,4
1492310,2383588,2017-12-31 18:55:28,2017-12-31 18:59:24,236.0,University Ave / Elm St,Bay St / College St (West Side) - SMART,Member,6,52,12,4
1492330,2383608,2017-12-31 20:22:46,2017-12-31 20:45:41,1375.0,Ossington Ave / College St,Bathurst St / Fort York Blvd,Member,6,52,12,4
1492335,2383613,2017-12-31 20:39:41,2017-12-31 20:45:13,332.0,Nelson St / Duncan St,Front St W / Blue Jays Way,Member,6,52,12,4
1492360,2383638,2017-12-31 23:26:59,2017-12-31 23:37:41,642.0,80 Clinton St (North of College),East Liberty St / Pirandello St,Member,6,52,12,4

In [73]:
cas = df_rand[df_rand['user_type'] == 'Casual'].shape[0]
mem = df_rand[df_rand['user_type'] == 'Member'].shape[0]
cas + mem

100000