In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import re
import datetime

from dateutil.parser import parse

In [3]:
df_path = os.path.join('..', '..', 'data', 'interim', '2_tbs_with_datetime.csv')
df = pd.read_csv(df_path, index_col = 0)

/Users/brycehaley/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (5,7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/brycehaley/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
df

,trip_id,trip_start_time,trip_stop_time,trip_duration_seconds,from_station_id,from_station_name,to_station_id,to_station_name,user_type
0,712382,2017-01-01 00:00:00,2017-01-01 00:03:00,223.0,7051,Wellesley St E / Yonge St Green P,7089,Church St / Wood St,Member
1,712383,2017-01-01 00:00:00,2017-01-01 00:05:00,279.0,7143,Kendal Ave / Bernard Ave,7154,Bathurst Subway Station,Member
2,712384,2017-01-01 00:05:00,2017-01-01 00:29:00,1394.0,7113,Parliament St / Aberdeen Ave,7199,College St W / Markham St,Member
3,712385,2017-01-01 00:07:00,2017-01-01 00:21:00,826.0,7077,College Park South,7010,King St W / Spadina Ave,Member
4,712386,2017-01-01 00:08:00,2017-01-01 00:12:00,279.0,7079,McGill St / Church St,7047,University Ave / Gerrard St W,Member
...,...,...,...,...,...,...,...,...,...
1492364,2383642,2017-12-31 23:46:27,2017-12-31 23:46:53,26.0,Bloor St / Brunswick Ave,Bloor St / Brunswick Ave,Casual,NaN,NaN
1492365,2383643,2017-12-31 23:47:13,2018-01-01 00:11:00,1467.0,Bloor St / Brunswick Ave,HTO Park (Queens Quay W),Casual,NaN,NaN
1492366,2383644,2017-12-31 23:47:40,2017-12-31 23:57:49,609.0,Kendal Ave / Spadina Rd,Augusta Ave / Denison Sq,Member,NaN,NaN
1492367,2383645,2017-12-31 23:49:08,2017-12-31 23:49:34,26.0,Phoebe St / Spadina Ave,Phoebe St / Spadina Ave,Member,NaN,NaN
1492368,2383646,2017-12-31 23:49:41,2017-12-31 23:57:41,480.0,Phoebe St / Spadina Ave,Simcoe St / Queen St W,Member,NaN,NaN

In [5]:
path2 = os.path.join('..', '..', 'data', 'interim', '2_just_dashes.csv')
df2 = pd.read_csv(path2, index_col = 0)

In [6]:
df2

,trip_id,trip_start_time,trip_stop_time,trip_duration_seconds,from_station_id,from_station_name,to_station_id,to_station_name,user_type,trip_start_time_slash_flag,trip_start_time_dash_flag,trip_start_timeis_good_date,trip_stop_time_slash_flag,trip_stop_time_dash_flag,trip_stop_timeis_good_date
0,712382,1/1/2017 0:00,1/1/2017 0:03,223.0,7051,Wellesley St E / Yonge St Green P,7089,Church St / Wood St,Member,True,False,True,True,False,True
1,712383,1/1/2017 0:00,1/1/2017 0:05,279.0,7143,Kendal Ave / Bernard Ave,7154,Bathurst Subway Station,Member,True,False,True,True,False,True
2,712384,1/1/2017 0:05,1/1/2017 0:29,1394.0,7113,Parliament St / Aberdeen Ave,7199,College St W / Markham St,Member,True,False,True,True,False,True
3,712385,1/1/2017 0:07,1/1/2017 0:21,826.0,7077,College Park South,7010,King St W / Spadina Ave,Member,True,False,True,True,False,True
4,712386,1/1/2017 0:08,1/1/2017 0:12,279.0,7079,McGill St / Church St,7047,University Ave / Gerrard St W,Member,True,False,True,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1492364,2383642,12/31/17 23:46:27,12/31/17 23:46:53,26.0,Bloor St / Brunswick Ave,Bloor St / Brunswick Ave,Casual,NaN,NaN,True,False,True,True,False,True
1492365,2383643,12/31/17 23:47:13,01/01/18 0:11,1467.0,Bloor St / Brunswick Ave,HTO Park (Queens Quay W),Casual,NaN,NaN,True,False,True,False,True,True
1492366,2383644,12/31/17 23:47:40,12/31/17 23:57:49,609.0,Kendal Ave / Spadina Rd,Augusta Ave / Denison Sq,Member,NaN,NaN,True,False,True,True,False,True
1492367,2383645,12/31/17 23:49:08,12/31/17 23:49:34,26.0,Phoebe St / Spadina Ave,Phoebe St / Spadina Ave,Member,NaN,NaN,True,False,True,True,False,True
1492368,2383646,12/31/17 23:49:41,12/31/17 23:57:41,480.0,Phoebe St / Spadina Ave,Simcoe St / Queen St W,Member,NaN,NaN,True,False,True,True,False,True

In [7]:
path3 = os.path.join('..', '..', 'data', 'interim', '1_tbs_with_date_flags.csv')
df3 = pd.read_csv(path3, index_col = 0)

In [8]:
df3

,trip_id,trip_start_time,trip_stop_time,trip_duration_seconds,from_station_id,from_station_name,to_station_id,to_station_name,user_type,trip_start_time_slash_flag,trip_start_time_dash_flag,trip_start_timeis_good_date,trip_stop_time_slash_flag,trip_stop_time_dash_flag,trip_stop_timeis_good_date
0,712382,1/1/2017 0:00,1/1/2017 0:03,223.0,7051,Wellesley St E / Yonge St Green P,7089,Church St / Wood St,Member,True,False,True,True,False,True
1,712383,1/1/2017 0:00,1/1/2017 0:05,279.0,7143,Kendal Ave / Bernard Ave,7154,Bathurst Subway Station,Member,True,False,True,True,False,True
2,712384,1/1/2017 0:05,1/1/2017 0:29,1394.0,7113,Parliament St / Aberdeen Ave,7199,College St W / Markham St,Member,True,False,True,True,False,True
3,712385,1/1/2017 0:07,1/1/2017 0:21,826.0,7077,College Park South,7010,King St W / Spadina Ave,Member,True,False,True,True,False,True
4,712386,1/1/2017 0:08,1/1/2017 0:12,279.0,7079,McGill St / Church St,7047,University Ave / Gerrard St W,Member,True,False,True,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1492364,2383642,12/31/17 23:46:27,12/31/17 23:46:53,26.0,Bloor St / Brunswick Ave,Bloor St / Brunswick Ave,Casual,NaN,NaN,True,False,True,True,False,True
1492365,2383643,12/31/17 23:47:13,2001-01-18 0:11,1467.0,Bloor St / Brunswick Ave,HTO Park (Queens Quay W),Casual,NaN,NaN,True,False,True,False,True,True
1492366,2383644,12/31/17 23:47:40,12/31/17 23:57:49,609.0,Kendal Ave / Spadina Rd,Augusta Ave / Denison Sq,Member,NaN,NaN,True,False,True,True,False,True
1492367,2383645,12/31/17 23:49:08,12/31/17 23:49:34,26.0,Phoebe St / Spadina Ave,Phoebe St / Spadina Ave,Member,NaN,NaN,True,False,True,True,False,True
1492368,2383646,12/31/17 23:49:41,12/31/17 23:57:41,480.0,Phoebe St / Spadina Ave,Simcoe St / Queen St W,Member,NaN,NaN,True,False,True,True,False,True